@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-size : 2rem;
}

input[type="submit"] {
    background: white;
    color: black;
    padding: 0.5rem;
    border-radius : 0.25rem;
}

.field {
    display : flex ;
}
.field > label {
    min-width : 250px ;
}

input {
    color : black ;
}